.enter {
    opacity: 0;
    transform: scale(0.9);
}

.enterActive {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms linear;
}

.exit {
    opacity: 1;
    transform: scale(1);
}

.exitActive {
    opacity: 0;
    transform: scale(0.9);
    transition: all 300ms linear;
}
