@value colors: '../../../css/vars.module.css';
@value main_green, main_gradient, orange_gradient, pink_gradient, violet_gradient, black_font from colors;

.subscriptionsContainer {
  padding: 60px 62px;
}

.subscriptionsSectionTypes {
  margin-bottom: 60px;
}

.subscriptionsList {
  margin-bottom: 40px;
}

.subscriptionsItem {
  display: flex;
  align-items: center;
}

.subscriptionsItem:not(:last-child) {
  margin-bottom: 20px;
}

.subscriptionsItemTitle {
  width: 345px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  border-radius: 5px;
  margin-right: 30px;
  color: #ffffff;
  cursor: pointer;
}

.subscriptionsItemDescriptionPrice {
  font-weight: 500;
}

.subscriptionsItemDescriptionDiscount {
  font-weight: 500;
  color: main_green;
}

.subscriptionsItemTitleNoob {
  composes: subscriptionsItemTitle;
  background: main_green;
}

.subscriptionsItemTitleNoob:hover,
.subscriptionsItemTitleNoob:focus {
  box-shadow: 0 8px 6px -6px main_green;
  font-weight: 500;
}

.subscriptionsItemTitleBasic {
  composes: subscriptionsItemTitle;
  background: main_gradient;
}

.subscriptionsItemTitleBasic:hover,
.subscriptionsItemTitleBasic:focus {
  box-shadow: 0 8px 6px -6px #2eebda;
  font-weight: 500;
}

.subscriptionsItemTitleStandart {
  composes: subscriptionsItemTitle;
  background: orange_gradient;
}

.subscriptionsItemTitleStandart:hover,
.subscriptionsItemTitleStandart:focus {
  box-shadow: 0 8px 6px -6px #fe6083;
  font-weight: 500;
}

.subscriptionsItemTitlePremium {
  composes: subscriptionsItemTitle;
  background: pink_gradient;
}

.subscriptionsItemTitlePremium:hover,
.subscriptionsItemTitlePremium:focus {
  box-shadow: 0 8px 6px -6px #b469fa;
  font-weight: 500;
}

.subscriptionsItemTitleUltra {
  composes: subscriptionsItemTitle;
  background: violet_gradient;
}

.subscriptionsItemTitleUltra:hover,
.subscriptionsItemTitleUltra:focus {
  box-shadow: 0 8px 6px -6px #655de6;
  font-weight: 500;
}

/* .subscriptionsSectionCards {
  margin-bottom: 60px;
}
} */

.choiceTypeWrapper {
  width: 784px;
  height: 580px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #4f4f4f;
  text-align: center;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.choiceTypeList {
  height: 340px;
}

.choiceTypeTitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #4f4f4f;
}

.choiceTypeItem {
  /* background-color: #e9faf7;
  height: 44px;
  width: 425px; */
  text-align: center;
  margin-bottom: 15px;
}

.choiceTypeItem:last-child {
  margin-bottom: 0px;
}

/* .choiceTypeItem:hover {
  background-color: #cbf6e3;
  color: #ffffff;
} */

.choiceTypeBtn {
  font-size: 18px;
  line-height: 44px;
  color: #43d190;
  text-decoration: none;
  border: 0;
  background-color: #e9faf7;
  cursor: pointer;
}

.choiceTypeBtn:hover {
  background-color: #cbf6e3;
  color: #ffffff;
}

.button {
  width: 220px;
  height: 44px;
  display: block;
  background: main_green;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  transition: all 250ms linear;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: main_green;
  border: 2px solid main_green;
  background: transparent;
  outline: 0;
}
