.containerTimeDoIt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  margin-left: 10px;
  padding-top: 15px;
}

.nameTimeDoIt {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}


.imgBoxTimeDoIt {
  display: flex;
  align-items: center;
  width: 14%;
}

.textTimeDoIt {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  display: flex;
  /* padding: 10px; */
  align-items: flex-end;
}
.dotter {
  height: 30px;
  width: 30%;
  margin-left: 43px;
  margin-right: 25px;
  border-left: 2px dashed#E0E0E0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spanTimeDoIt {
  display: flex;
  justify-content: center;
  width: 14%;
  color: #43d190;
  font-weight: 500;
  margin-left: 15px;
}
