.congratulationWrapper {
  width: 784px;
  height: 580px;
  background-color: #43d190;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.congratulationTitle {
  line-height: 31px;
  font-size: 26px;
  padding-bottom: 8px;
}

.congratsBtnWrapper {
  display: flex;
  justify-content: space-between;
  width: 455px;
}

.buttonTransparent {
  width: 220px;
  height: 44px;
  left: 792px;
  top: 616px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
}
.buttonTransparent:hover,
.buttonTransparent:focus {
  background-color: #ffffff;
  color: #43d190;
  outline: 0;
}
