@value colors: '../../css/vars.module.css';
@value main_green, main_blue, main_pink, main_gradient, orange_gradient, pink_gradient, violet_gradient, black_font from colors;

.sectionTitle {
  font-size: 26px;
  line-height: 31px;

  color: black_font;
  margin-bottom: 30px;
}

.card {
  width: 344px;
  height: 200px;
  background: #655de6;

  box-shadow: 0px 10px 16px rgba(101, 93, 230, 0.04);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  color: #fff;

  position: relative;
}

.cardName {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 40px;
}

.cardNumber {
  font-size: 17px;
  line-height: 21px;
  text-align: left;
  letter-spacing: 0.39em;
  margin-bottom: 60px;
}

.cardExpireDate {
  /* font-weight: 500; */
  font-size: 14px;
  line-height: 17px;
}

.cardDeleteButton {
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.cardDeleteButton:hover,
.cardDeleteButton:focus {
  box-shadow: 0 0 14px main_pink;
}

.trashIcon {
  width: 14px;
  height: 14px;
  fill: main_blue;
}

.trashIcon:hover,
.trashIcon:focus {
  fill: main_pink;
}

.cardsButtons {
  display: flex;
  margin-bottom: 60px;
}

.buttonAdd {
  margin-right: 15px;
}

.buttonPay {
  background: main_green;
  color: #ffffff;
}

.buttonPay:hover,
.buttonPay:focus {
  background: #ffffff;
  color: main_green;
}

.supportContainer {
  display: flex;
}

.supportPic {
  width: 238px;
  height: 150px;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 10px 16px rgba(254, 96, 131, 0.04);
  background: main_green;
  background-image: url(../../assests/images/Card/support-pic.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.supportInfo {
  width: 356px;
  height: 150px;
  background: #ffffff;
  box-shadow: 0px 10px 16px rgba(254, 96, 131, 0.04);
  border-radius: 0px 10px 10px 0px;
  padding: 20px 30px;
}

.supportInfoTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: black_font;
  margin-bottom: 10px;
}

.supportInfoEmail {
  font-size: 14px;
  line-height: 17px;

  color: black_font;
  margin-bottom: 12px;
}

.supportInfoTelegram {
  width: 30px;
  height: 30px;
  background: main_green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
