@value styles: '../css/vars.module.css';
@value main_green from styles;

.section404 {
  position: absolute;
  z-index: 100;
  min-width: 100%;
  min-height: 100vh;
  background: main_green;
  color: #fff;
  overflow: hidden;
}

.c {
  text-align: center;
  display: block;
  position: relative;
  width: 95%;
  margin: 100px auto;
}

._404 {
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 250px;
  letter-spacing: 15px;
}

._1 {
  margin-bottom: 25px;
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 10px;
  font-size: 4em;
  line-height: 80%;
}

._2 {
  margin-bottom: 25px;
  text-align: center;
  display: block;
  position: relative;
  font-size: 3em;
  /* font-size: 20px; */
}

.text {
  font-size: 70px;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 19px 0px 0px 0px;
  /* top: 255px; */
  z-index: 3;
  width: 100%;
  line-height: 1.2em;
  display: inline-block;
}

.btn {
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 10px;
  z-index: 5;
  font-size: 25px;
  color: main_green;
  text-decoration: none;
}

.right {
  float: right;
  width: 60%;
}

._hr {
  padding: 0;
  border: none;
  border-top: 5px solid #fff;
  color: #fff;
  text-align: center;
  margin: 0px auto 15px;
  width: 420px;
  height: 10px;
  z-index: -10;
}

._hr:after {
  content: '\2022';
  display: inline-block;
  position: relative;
  top: -0.75em;
  font-size: 2em;
  padding: 0 0.2em;
  background: main_green;
}

.cloud {
  width: 350px;
  height: 120px;
  background: #fff;
  /* background: linear-gradient(to top, #fff, #e5e5e5); */
  border-radius: 100px;
  position: absolute;
  margin: 120px auto 20px;
  z-index: -1;
  transition: ease 1s;
}

.cloud:after,
.cloud:before {
  content: '';
  position: absolute;
  background: #fff;
  z-index: -1;
}

.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}

.x1 {
  top: -50px;
  left: 100px;
  transform: scale(0.3);
  opacity: 0.9;
  animation: moveclouds 15s linear infinite;
}

.x1_5 {
  top: -80px;
  left: 250px;
  transform: scale(0.3);
  animation: moveclouds 17s linear infinite;
}

.x2 {
  left: 250px;
  top: 30px;
  transform: scale(0.6);
  opacity: 0.6;
  animation: moveclouds 25s linear infinite;
}

.x3 {
  left: 250px;
  bottom: -70px;
  transform: scale(0.6);
  opacity: 0.8;
  animation: moveclouds 25s linear infinite;
}

.x4 {
  left: 470px;
  bottom: 20px;
  transform: scale(0.75);
  opacity: 0.75;
  animation: moveclouds 18s linear infinite;
}

.x5 {
  left: 200px;
  top: 300px;
  transform: scale(0.5);
  opacity: 0.8;
  animation: moveclouds 20s linear infinite;
}

@keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
