.dailyHabitWrapper {
  position: relative;
  width: 784px;
  height: 368px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #4f4f4f;
  text-align: center;
  padding: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  margin: 0 auto;
}

.closeBtnWrapper {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
