.leftSideBar_habits {
  border-bottom: 1px solid #d5e1dc;
  padding: 25px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftSideBar_habits_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  margin-left: 65px;
  color: #4f4f4f;
  align-self: flex-start;
}
.leftSideBar_habits__list {
  margin-bottom: 20px;
}

.leftSideBar_habits__button {
  width: 220px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background: #43d190;
  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 20px;
}
.leftSideBar_habits__button:hover {
  background: #cbf7e3;
  color: #4f4f4f;
}
