.leftSideBar_habits {
  position: relative;
  border-bottom: 1px solid #d5e1dc;
  padding: 25px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 545px);
  min-height: 378px;
  /* width: 100%; */
}

.leftSideBar_habits_title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  margin-left: 65px;
  color: #4f4f4f;
  align-self: flex-start;
}

.leftSideBar_habits_title_qoute_wrapper_position {
  display: inline-block;
  width: 30px;

  height: 132px;

  flex-shrink: 0;
}
.leftSideBar_habits_title_qoute_wrapper {
  position: absolute;
  top: 29px;
  left: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.leftSideBar_habits_title_qoute {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
  width: 270px;

  color: #4f4f4f;
  align-self: center;
}
.leftSideBar_habits__list {
  margin-bottom: 20px;
}
/* ======================== */

.leftSideBar_habits__button {
  width: 220px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background: #43d190;

  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 20px;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #25e1c2,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);

  transition: all 0.4s ease-in-out;
}

.leftSideBar_habits__button:hover {
  background: #cbf7e3;
  color: #4f4f4f;
  transition: all 0.2s linear;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
