.achievementsPageList {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

.achievementsPageItem {
  width: 220px;
  /* height: 80px; */
  background: #e0e0e0;
  box-shadow: 0px 8px 16px rgba(67, 209, 144, 0.15);
  border-radius: 10px;
  transition: all 0.5s linear;
}

.achievementsPageItem:not(:nth-child(3n)) {
  margin-right: 30px;
}

.achievementsPageItem:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.achievementsPageItem:hover,
.achievementsPageItem:focus {
  transform: scale(1.1);
  background: #43d190;
  outline: 0;
}

.achievementsPageText {
  font-weight: 500;
  font-size: 18px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}
