.leftSideBar_habits__list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.leftSideBar_habits__list_item_circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;

  box-shadow: inset -3px -5px 5px rgba(0, 0, 0, 0.3),
    inset -2px -1px 40px rgba(0, 0, 0, 0), 0 0 0px #000;
}
.leftSideBar_habits__list_item_habit {
  font-size: 14px;
  line-height: 17px;
  width: 223px;
  color: #515357;
}
