.leftSideBar_habits__list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: #bdbdbd;
  vertical-align: middle;
}
.leftSideBar_habits__list_item_circle {
  width: 18px;
  height: 18px;
  /* background-color: #2eebda; */
  border-radius: 50%;
  margin-right: 10px;
}
.leftSideBar_habits__list_item_habit {
  font-size: 14px;
  line-height: 17px;
  width: 222px;
}
