.enter {
  opacity: 0;
  transform: translateX(-100%);
}

.enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exit-active {
  opacity: 1;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
