@value colors: '../../../css/vars.module.css';
@value black_font from colors;
@value main_green: #43D190;

.notificationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 842px;
  padding: 40px 62px;
  background: #ffffff;
  border-bottom: 1px solid #d5e1dc;
}

.notificationTitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: black_font;
}
.notificationCounter {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: main_green;
}
.notificationCounter_number {
  margin-right: 10px;
}
