.checkListItem {
  width: 720px;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 45px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: #fff;

  position: relative;
}

.checkListItem:not(:last-child) {
  margin-bottom: 30px;
}
/* .checkListItem:before {
  content: "";
  display: block;
  height: 117px;
  background-color: #655de6;
} */

.checkListItemContentMainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkListItemContentWrapper {
  /* display: flex; */
  flex-direction: column;
}

.checkListItemContent {
  display: flex;
  align-items: flex-end;
}

.checkListItemProgressLabel {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
  margin-right: 8px;
  margin-bottom: 5px;
}

.checkListItemProgressLabel span {
  margin-bottom: 16px;
}

progress {
  width: 440px;
  height: 6px;
}

/* progress[value] {
  background-color: #f6f6f6;
  border-radius: 3px;
} */

progress[value]::-webkit-progress-bar {
  background-color: #f6f6f6;
  border-radius: 3px;
}

progress[value]::-webkit-progress-value {
  background-color: #43d190;
  box-shadow: 0px 2px 8px rgba(67, 209, 144, 0.4);
  border-radius: 3px;
}

.checkListItemProgress {
  background: transparent;
  /* border-radius: 3px; */
  /* margin-top: 16px; */
}

.checkListItemProgressValue {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #43d190;
}

.checkListItemProgressComment {
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.checkListButtons {
  display: flex;
}

.checkListButton {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}

.checkListButtonSubmit {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-right: 15px;
}
.checkListButtonSubmit svg {
  display: block;
  stroke: #4f4f4f;
  margin: 0 auto;
}

.checkListButtonSubmit:hover {
  background: #43d190;
  border: 1px solid #43d190;
  background-repeat: no-repeat;
  background-position: center;
}
.checkListButtonSubmit:hover svg {
  stroke: #fff;
}

.checkListButtonDelete {
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.checkListButtonDelete svg {
  display: block;
  stroke: #d5e1dc;
  margin: 0 auto;
}

.checkListButtonDelete:hover {
  border: 1px solid #fe6083;
}
.checkListButtonDelete:hover svg {
  stroke: #fe6083;
}

.checkListButtonEdit {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
}

.progressDaysContentList {
  display: flex;
  padding-top: 20px;
  border-top: 1px dashed #e0e0e0;
  margin-top: 20px;
}

.progressDaysContentItem:not(:last-child) {
  margin-right: 54px;
}

.progressDaysTitle {
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

.fulfiledDays {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;

  color: #43d190;
}

.missedDays {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;

  color: #fe6083;
}
