@value colors: '../../../../css/vars.module.css';
@value main_gradient, main_green,background,green_1,green_2,main_violet, main_pink,main_yellow,main_blue,black_font,grey_font from colors;

.checkListItem {
  width: 100%;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 45px;
  padding-left: 30px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 16px rgba(68, 68, 68, 0.04);

  position: relative;
  transition: all 0.2s linear;
}

.checkListItem:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(106, 155, 163, 0.3);
}

.checkListItem:not(:last-child) {
  margin-bottom: 30px;
}

.checkListItemContentMainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkListItemContentWrapper {
  flex-direction: column;
}

.checkListItemContent {
  display: flex;
  align-items: flex-end;
}

.checkListItemProgressLabel {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: black_font;
  margin-right: 8px;
  margin-bottom: 5px;
}

.checkListItemProgressLabel span {
  margin-bottom: 16px;
}

progress {
  width: 440px;
  height: 6px;
}

progress[value]::-webkit-progress-bar {
  background-color: #f6f6f6;
  border-radius: 3px;
}

progress[value]::-webkit-progress-value {
  background-color: main_green;
  box-shadow: 0px 2px 8px rgba(67, 209, 144, 0.4);
  border-radius: 3px;
}

.checkListItemProgress {
  background: transparent;
}

.checkListItemProgressValue {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: main_green;
}

.checkListItemProgressComment {
  font-size: 14px;
  line-height: 17px;
  color: grey_font;
}

.checkListButtons {
  display: flex;
}

.checkListButton {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.checkListButtonSubmit {
  composes: checkListButton;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-right: 15px;
}
.checkListButtonSubmit svg {
  display: block;
  stroke: black_font;
  margin: 0 auto;
}

.checkListButtonSubmitDisabled {
  composes: checkListButtonSubmit;

  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-right: 15px;
  cursor: inherit;
}

.checkListButtonSubmitDisabled svg {
  display: block;
  stroke: grey_font;
  margin: 0 auto;
}

.checkListButtonSubmitDisabledNoHover {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #e0e0e0;
  margin-right: 15px;
  background-color: #fff;
  cursor: inherit;
}

.checkListButtonSubmitDisabledNoHover svg {
  display: block;
  stroke: grey_font;
  margin: 0 auto;
}

.checkListButtonSubmitDisabledActive {
  composes: checkListButton;

  background: main_green;
  border: 1px solid main_green;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}
.checkListButtonSubmitDisabledActive svg {
  stroke: #fff;
}

.checkListButtonSubmit:hover,
.checkListButtonSubmit:focus {
  background: main_green;
  border: 1px solid main_green;
  background-repeat: no-repeat;
  background-position: center;
}
.checkListButtonSubmit:hover svg,
.checkListButtonSubmit:focus svg {
  stroke: #fff;
}

.checkListButtonDelete {
  composes: checkListButton;

  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.checkListButtonDelete svg {
  display: block;
  stroke: #d5e1dc;
  margin: 0 auto;
}

.checkListButtonDelete:hover,
.checkListButtonDelete:focus {
  border: 1px solid main_pink;
}
.checkListButtonDelete:hover svg,
.checkListButtonDelete:focus svg {
  stroke: main_pink;
}

.disabled:hover {
  border: 1px solid #e0e0e0;
}

.checkListButtonDeleteDisabled {
  composes: checkListButton;

  border: 1px solid #e0e0e0;
  background-color: #fff;
  /* cursor: inherit; */
}

.checkListButtonDeleteDisabled svg {
  display: block;
  stroke: grey_font;
  margin: 0 auto;
}

.checkListButtonDeleteDisabledNoHover {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #e0e0e0;
  background-color: #fff;
  cursor: inherit;
}

.checkListButtonDeleteDisabledNoHover svg {
  display: block;
  stroke: grey_font;
  margin: 0 auto;
}

.checkListButtonDeleteDisabledActive {
  composes: checkListButtonDeleteDisabled;

  border: 1px solid main_pink;
  background-color: #fff;
  cursor: inherit;
}

.checkListButtonDeleteDisabled svg {
  display: block;
  stroke: main_pink;
  margin: 0 auto;
}

.checkListButtonEdit {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.checkListButtonEdit svg {
  fill: grey_font;
}

.checkListButtonEdit:hover svg,
.checkListButtonEdit:focus svg {
  fill: black_font;
}

.progressDaysContentList {
  display: flex;
  padding-top: 20px;
  border-top: 1px dashed #e0e0e0;
  margin-top: 20px;
}

.progressDaysContentItem:not(:last-child) {
  margin-right: 54px;
}

.progressDaysTitle {
  font-size: 14px;
  line-height: 17px;
  color: grey_font;
}

.fulfiledDays {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;

  color: main_green;
}

.missedDays {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;

  color: main_pink;
}
