.Login {
  position: absolute;
  z-index: 1;
  background: #f6f6f6;
  width: 1035px;
  height: 100vh;
  left: 0;
  top: 0;
}

.HomeLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 90px;
}

.HomeLogoSvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background: linear-gradient(222.27deg, #2eebda 3.75%, #7cf7a3 94.69%);
  margin-right: 5px;
}

.HomeLogoPng svg {
  display: block;
}

.LoginHi {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #4f4f4f;
}

.LoginTxt {
  width: 405px;
  margin: 0 auto;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  color: #4f4f4f;
  padding-bottom: 30px;
}

.LoginForm {
  width: 450px;
  margin: 0 auto;
}

.LoginInput {
  width: 345px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  outline: none;
}

.LoginInputForm {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.LoginPassword {
  position: relative;
}

.LoginPasswordBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: none;
}

.LoginInputTxt {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #4f4f4f;
}

.LoginButton {
  margin: 0 auto;
  width: 220px;
  height: 44px;
  margin-bottom: 20px;
  background: #43d190;
  border-radius: 5px;
  border: #43d190 2px solid;
  cursor: pointer;
}

.LoginButtonTxt {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.LoginButton:hover {
  background-color: #ffffff;
}

.LoginButton:hover .LoginButtonTxt {
  color: #43d190;
}

.LoginButtonBlock {
  display: flex;
  justify-content: center;
}

.LoginInput:valid {
  border: 2px solid #43d190;
}

.LoginInput:invalid {
  border: 2px solid #fe6083;
}
