*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 0;
}

ul,
ol {
  list-style: none;
  font-size: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* ------------ */

.container {
  width: 842px;
  margin: 0 auto;
}

.wrapperHeader {
  border: 1px solid #f6f6f6;
  padding: 40px 62px;
}

.title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #4f4f4f;
}

.wrapperMain {
  background-color: #f6f6f6;
  height: 100%;
  padding: 62px 62px 0 62px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 157px;
  height: 157px;
  border-radius: 50%;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
}

.item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.item:not(:last-child) {
  margin-bottom: 30px;
}
.item:last-child {
  margin-bottom: 10px;
}
